.input {
    padding: 10px;
    outline: none;
    border: none;


    color: black;
    font-size: 16px;

    background: beige;
}

.input:focus {
    border-radius: 6px;
    border: 1px solid black;
}