.item {
    width: 145px;
    height: 270px;

    padding: 5px;
    margin-bottom: 15px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    border-radius: 6px;

    background: #dedec3;
}

.item:hover {


    cursor: pointer;
    background: #bee382;
    box-shadow: 0 0 10px 5px #bee382
}

.img {
    width: 95%;
    height: 200px;
    margin-bottom: 10px;
}

.name {
    font-size: 15px;
}

.text {
    font-size: 12px;
}